<form [formGroup]="form">
  <select
    formControlName="select"
  >
    <option value="">select</option>
    <option value="basic">basic</option>
    <option value="address">address</option>
  </select>
  <ng-container [ngSwitch]="selectControl?.value">
    <app-basic-info *ngSwitchCase="'basic'" formGroupName="basic"></app-basic-info>
    <app-address *ngSwitchCase="'address'" formGroupName="address"></app-address>
  </ng-container>

<!--  <app-basic-info formGroupName="basic"></app-basic-info>-->
<!--  <app-address formGroupName="address"></app-address>-->

</form>


<button (click)="onSubmit()" [disabled]="!form.valid">Submit</button>
<button (click)="getForm()">log form</button>

